@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutPassword.cshtml";
}

<div style="margin-left:10px;">
    <h1>An Error Has Occured</h1>

    <p>We apologise for an unexpected error occurred on our system. The admin has been notified.</p>

    <ul>
        <li>@Html.ActionLink("Return to Log in", "Login", "Account", new { area = "" }, new { @class = "errorDiv" })</li>
    </ul>
</div>