
/*
QuestionBox - QuestionBox.in
*/


GO
/****** Object:  Table [dbo].[Countries]    Script Date: 3/16/2016 6:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[States]    Script Date: 3/16/2016 6:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](max) NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.States] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

GO
INSERT [dbo].[Countries] ([CountryId], [CountryName]) VALUES (1, N'India')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[States] ON 

GO
INSERT [dbo].[States] ([StateId], [StateName], [CountryId]) VALUES (1, N'Andaman and Nicobar Island', 1)
GO
INSERT [dbo].[States] ([StateId], [StateName], [CountryId]) VALUES (2, N'Andhra Pradesh', 1)
GO
INSERT [dbo].[States] ([StateId], [StateName], [CountryId]) VALUES (3, N'Arunachal Pradesh', 1)
GO
SET IDENTITY_INSERT [dbo].[States] OFF
GO
ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_dbo.States_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_dbo.States_dbo.Countries_CountryId]
GO

/****** Object:  Table [dbo].[Districts]    Script Date: 3/16/2016 6:43:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](max) NULL,
	[StateId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubDistricts]    Script Date: 3/16/2016 6:43:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubDistricts](
	[SubDistrictsId] [int] IDENTITY(1,1) NOT NULL,
	[SubDistrictsName] [nvarchar](max) NOT NULL,
	[DistrictId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SubDistricts] PRIMARY KEY CLUSTERED 
(
	[SubDistrictsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Districts] ON 

GO
INSERT [dbo].[Districts] ([DistrictId], [DistrictName], [StateId]) VALUES (1, N'Nicobar', 1)
GO
INSERT [dbo].[Districts] ([DistrictId], [DistrictName], [StateId]) VALUES (2, N'North and Middle Andaman', 1)
GO
INSERT [dbo].[Districts] ([DistrictId], [DistrictName], [StateId]) VALUES (3, N'South Andaman', 1)
GO
SET IDENTITY_INSERT [dbo].[Districts] OFF
GO
SET IDENTITY_INSERT [dbo].[SubDistricts] ON 

GO
INSERT [dbo].[SubDistricts] ([SubDistrictsId], [SubDistrictsName], [DistrictId]) VALUES (1, N'Car Nicobar', 1)
GO
INSERT [dbo].[SubDistricts] ([SubDistrictsId], [SubDistrictsName], [DistrictId]) VALUES (2, N'Nancowry', 1)
GO
INSERT [dbo].[SubDistricts] ([SubDistrictsId], [SubDistrictsName], [DistrictId]) VALUES (3, N'Great Nicobar', 1)
GO
SET IDENTITY_INSERT [dbo].[SubDistricts] OFF
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Districts_dbo.States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_dbo.Districts_dbo.States_StateId]
GO
ALTER TABLE [dbo].[SubDistricts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubDistricts_dbo.Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubDistricts] CHECK CONSTRAINT [FK_dbo.SubDistricts_dbo.Districts_DistrictId]
GO
