
@{
    ViewBag.Title = "UnAuthorize";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin-left:10px;">
    <h1>Unauthorize Access!</h1>
    <p>You don't have sufficient permission to view this page. Please contact admin.</p>
</div>
