@model FSM.Web.Areas.Employee.ViewModels.PurchaseorderSearchViewmodel
@using FSM.Web.Common;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.HiddenFor(m => m.PageSize)
        <div class="form-group col-sm-3">
        </div>
        @*<div class="clearfix"></div>*@
        <div class="search_block stock_top_bg">
            <div class="col-sm-7">
                <div class="search_customer">
                    @Html.EditorFor(model => model.SearchKeyword, new { htmlAttributes = new {@id= "searchkeyword", @class = "form-control", @style = "display:inline",@placeholder="Search Keyword" } })
                    <input type="submit" value="Search" class="search_btn black-btn search_pad" />
                </div>
            </div>
            <a type="button" class="btn btn-primary pull-right btnaddstock" href="@Url.Action("AddEditPurchaseOrder","Purchase", new { Area = "Employee" })">
                <i class="" aria-hidden="true"></i>
               Add Purchase Order
            </a>
        </div><!--search_order-->
    </div>
}
