
/****** Object:  Table [dbo].[CustomerBillingAddress]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerBillingAddress](
	[BillingAddressId] [uniqueidentifier] NOT NULL,
	[CustomerGeneralInfoId] [uniqueidentifier] NOT NULL,
	[CustomerTitle] [int] NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[PhoneNo1] [nvarchar](20) NULL,
	[PhoneNo2] [nvarchar](20) NULL,
	[PhoneNo3] [nvarchar](50) NULL,
	[Spare1] [nvarchar](50) NULL,
	[Spare2] [nvarchar](50) NULL,
	[ContactPosition] [nvarchar](50) NULL,
	[PO] [bit] NULL,
	[xCO] [nvarchar](50) NULL,
	[EmailId] [nvarchar](50) NULL,
	[Unit] [nvarchar](20) NULL,
	[StreetNo] [nvarchar](20) NULL,
	[StreetName] [varchar](50) NULL,
	[StreetType] [int] NULL,
	[Suburb] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Postalcode] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CustomerBillingAddress] PRIMARY KEY CLUSTERED 
(
	[BillingAddressId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CustomerBillingAddress] ([BillingAddressId], [CustomerGeneralInfoId], [CustomerTitle], [FirstName], [LastName], [PhoneNo1], [PhoneNo2], [PhoneNo3], [Spare1], [Spare2], [ContactPosition], [PO], [xCO], [EmailId], [Unit], [StreetNo], [StreetName], [StreetType], [Suburb], [State], [Postalcode], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (N'ccac0e70-20c9-4072-8640-251dcea2e8f1', N'8fb4ac65-631e-4a0d-9a3e-0a294ce4318b', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerBillingAddress] ([BillingAddressId], [CustomerGeneralInfoId], [CustomerTitle], [FirstName], [LastName], [PhoneNo1], [PhoneNo2], [PhoneNo3], [Spare1], [Spare2], [ContactPosition], [PO], [xCO], [EmailId], [Unit], [StreetNo], [StreetName], [StreetType], [Suburb], [State], [Postalcode], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (N'810622e4-3305-4ccf-8ef2-2f8df16c51e8', N'cdfebf96-93b9-4741-8c48-6c297af53789', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ModifiedBy], [CreatedBy], [ModifiedDate], [CreatedDate]) VALUES (N'03da0b47-dd8d-449c-814e-7cfb05ec92a3', N'badoniji@gmail.com', 0, N'AFUfiY35tM8sQNUvwXhzAT8mrH67bG+ajaLOTH6sYs/mJOYSFd677dSk5QW6LQCq9w==', N'75773116-73e2-4f98-8c33-88108433a3b9', NULL, 0, 0, NULL, 1, 0, N'badoni ji', NULL, NULL, NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ModifiedBy], [CreatedBy], [ModifiedDate], [CreatedDate]) VALUES (N'0b2f27e0-14d5-4c02-8a04-bff9dd07e8e9', N'896@gmail.com', 0, N'ANjCnfFsmIEq67zuxJRXDiiPfKDm3tJ80oDYgFJiXcKQkll0flA4OAgn44GJ/DiSbA==', N'f41e038a-bca5-4b01-9b53-199a84a335d6', NULL, 0, 0, NULL, 1, 0, N'896@gmail.com', NULL, NULL, NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ModifiedBy], [CreatedBy], [ModifiedDate], [CreatedDate]) VALUES (N'0bc268f6-aad6-4dbd-90ce-d3ca5eb2c34a', N'tsin44gh@seasiainfotech.com', 0, N'AIGLH6PctU1SKtMuFzp9M17EL0I2U0Tv8wxMsL3fcITcOzr8EwVVJxGK1kTT1XXIyA==', N'f12b7677-1f46-4eab-adc3-4cbda24eadfd', NULL, 0, 0, NULL, 1, 0, N'tsin44gh@seasiainfotech.com', NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'6ab34575-4515-4d51-ad54-9e1ddcfd2285', N'ACCOUNTS')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'a45909cc-3ec6-4ca1-9e49-6644ac32bb96', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'bba795d1-e549-4283-bf73-6c321480c766', N'COMMS_INV')
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerContactLog]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerContactLog](
	[CustomerContactId] [uniqueidentifier] NOT NULL,
	[CustomerGeneralInfoId] [uniqueidentifier] NULL,
	[CustomerId] [nvarchar](50) NULL,
	[JobId] [nvarchar](50) NULL,
	[LogDate] [datetime] NULL,
	[ReContactDate] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_CustomerContactLogs] PRIMARY KEY CLUSTERED 
(
	[CustomerContactId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CustomerContactLog] ([CustomerContactId], [CustomerGeneralInfoId], [CustomerId], [JobId], [LogDate], [ReContactDate], [Note], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'caf578ac-79c2-438a-8229-005d56bdbde6', N'8fb4ac65-631e-4a0d-9a3e-0a294ce4318b', N'cid1', N'tretert', CAST(0x0000A6C600000000 AS DateTime), CAST(0x0000A6CE00000000 AS DateTime), N'rewrewre', NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerContactLog] ([CustomerContactId], [CustomerGeneralInfoId], [CustomerId], [JobId], [LogDate], [ReContactDate], [Note], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'ece62db4-ffb9-4ac2-9eb1-01ab33268dee', N'7f617784-8c85-4a91-b2ad-0492f199e819', N'CID12345', N'fdg', CAST(0x0000A6B900000000 AS DateTime), CAST(0x0000A6C700000000 AS DateTime), N'fdg', NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerContactLog] ([CustomerContactId], [CustomerGeneralInfoId], [CustomerId], [JobId], [LogDate], [ReContactDate], [Note], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'dcf3a012-2c4a-4044-a709-050cc745f2ab', N'7f617784-8c85-4a91-b2ad-0492f199e819', N'CID12345', N'56c929f1-df49-4168-9208-2c26fef873ab', CAST(0x0000A6C900000000 AS DateTime), CAST(0x0000A6C900000000 AS DateTime), N'dfsdf', NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[CustomerSiteDetail]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerSiteDetail](
	[SiteDetailId] [uniqueidentifier] NOT NULL,
	[CustomerGeneralInfoId] [uniqueidentifier] NULL,
	[ContactId] [uniqueidentifier] NULL,
	[Unit] [nvarchar](20) NULL,
	[Street] [nvarchar](20) NULL,
	[StreetName] [varchar](50) NULL,
	[StreetType] [int] NULL,
	[Suburb] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[PostalCode] [int] NULL,
	[MarkAsPreferred] [bit] NULL,
	[IsPrimaryAddress] [bit] NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_CustomerSiteDetail] PRIMARY KEY CLUSTERED 
(
	[SiteDetailId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CustomerSiteDetail] ([SiteDetailId], [CustomerGeneralInfoId], [ContactId], [Unit], [Street], [StreetName], [StreetType], [Suburb], [State], [PostalCode], [MarkAsPreferred], [IsPrimaryAddress], [Latitude], [Longitude], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'00000000-0000-0000-0000-000000000000', N'dcec59a7-73bc-4af5-8fd7-032e712a1540', NULL, NULL, NULL, N'your strret420', 0, NULL, NULL, NULL, 0, 0, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerSiteDetail] ([SiteDetailId], [CustomerGeneralInfoId], [ContactId], [Unit], [Street], [StreetName], [StreetType], [Suburb], [State], [PostalCode], [MarkAsPreferred], [IsPrimaryAddress], [Latitude], [Longitude], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'ae4e4ab5-47d2-4a54-af3c-00ed7ae49df8', N'cecae7ca-8724-4b7f-a65c-5f0e249028fd', NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerSiteDetail] ([SiteDetailId], [CustomerGeneralInfoId], [ContactId], [Unit], [Street], [StreetName], [StreetType], [Suburb], [State], [PostalCode], [MarkAsPreferred], [IsPrimaryAddress], [Latitude], [Longitude], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'ffb0daff-562e-4aa8-b563-05e66945daef', N'8fb4ac65-631e-4a0d-9a3e-0a294ce4318b', NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[EmployeeRates]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeRates](
	[RateId] [uniqueidentifier] NOT NULL,
	[EID] [nvarchar](50) NULL,
	[EmployeeName] [varchar](50) NULL,
	[EmployeeType] [int] NULL,
	[MobileNumber] [nvarchar](20) NULL,
	[BaseRate] [decimal](18, 2) NULL,
	[ActualRate] [decimal](18, 2) NULL,
	[EffectiveDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_EmployeeRates] PRIMARY KEY CLUSTERED 
(
	[RateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EmployeeRates] ([RateId], [EID], [EmployeeName], [EmployeeType], [MobileNumber], [BaseRate], [ActualRate], [EffectiveDate], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'2f4a4f16-4661-4ae6-ace7-0ed84cb99dd0', N'11', N'rwrt wrtwe', 2, N'9999999999', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A6B800000000 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[EmployeeRates] ([RateId], [EID], [EmployeeName], [EmployeeType], [MobileNumber], [BaseRate], [ActualRate], [EffectiveDate], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'10159d1c-506b-4977-abc7-2eae8d3d2af8', N'5', N'User123 User123', 0, N'8999383232', CAST(20.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), CAST(0x0000A6B400000000 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[EmployeeRates] ([RateId], [EID], [EmployeeName], [EmployeeType], [MobileNumber], [BaseRate], [ActualRate], [EffectiveDate], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'0de2638d-5aec-44e9-ab09-3f90eee99b7b', N'13', N'Mind mindk', 2, N'9874563211', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A6B700000000 AS DateTime), NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[EmployeeDetail]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeDetail](
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[EID] [nvarchar](50) NOT NULL,
	[UserName] [varchar](100) NULL,
	[Password] [nvarchar](20) NULL,
	[ConfirmPassword] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Role] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[ViewInvoice] [bit] NULL,
	[MakeInvoice] [bit] NULL,
	[ApproveInvoice] [bit] NULL,
	[SendInvoice] [bit] NULL,
	[MYOB] [bit] NULL,
	[TFN] [nvarchar](50) NULL,
	[BusinessName] [varchar](50) NULL,
	[HourlyRate] [float] NULL,
	[MondayHrs] [float] NULL,
	[TuesdayHrs] [float] NULL,
	[WednesdayHrs] [float] NULL,
	[ThursdayHrs] [float] NULL,
	[FridayHrs] [float] NULL,
	[Saturdayhrs] [float] NULL,
	[SundayHrs] [float] NULL,
	[HomeAddressTitle] [int] NULL,
	[HomeAddressFirstName] [varchar](50) NULL,
	[HomeAddressLastName] [varchar](50) NULL,
	[HomeAddressWork] [varchar](100) NULL,
	[HomeAddressMobile] [nvarchar](20) NULL,
	[HomeAddressLandLine] [nvarchar](20) NULL,
	[HomeAddressEmail] [nvarchar](50) NULL,
	[HomeAddressFax] [nvarchar](50) NULL,
	[HomeAddressUnit] [nvarchar](10) NULL,
	[HomeAddressStreetNo] [nvarchar](20) NULL,
	[HomeAddressStreetName] [nvarchar](50) NULL,
	[HomeAddressStreetType] [int] NULL,
	[HomeAddressSuburb] [nvarchar](50) NULL,
	[HomeAddressState] [nvarchar](50) NULL,
	[HomeAddressPostalCode] [int] NULL,
	[SignaturePicture] [nvarchar](200) NULL,
	[ProfilePicture] [nvarchar](200) NULL,
	[MailingAddressTitle] [int] NULL,
	[MailingAddressFirstName] [varchar](50) NULL,
	[MailingAddressLastName] [varchar](50) NULL,
	[MailingAddressWork] [varchar](100) NULL,
	[MailingAddressMobile] [nvarchar](20) NULL,
	[MailingAddressLandLine] [nvarchar](20) NULL,
	[MailingAddressEmail] [nvarchar](50) NULL,
	[MailingAddressFax] [nvarchar](20) NULL,
	[MailingAddressCO] [nvarchar](20) NULL,
	[MailingAddressC] [bit] NULL,
	[MailingAddressPO] [bit] NULL,
	[MailingAddressUnit] [nvarchar](10) NULL,
	[MailingAddressStreetNo] [nvarchar](20) NULL,
	[MailingAddressStreetName] [nvarchar](50) NULL,
	[MailingAddressSteetType] [int] NULL,
	[MailingAddressSuburb] [nvarchar](50) NULL,
	[MailingAddressState] [nvarchar](50) NULL,
	[MailingAddressPostCode] [int] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_EmployeeDetail] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Employee] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerGeneralInfo]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerGeneralInfo](
	[CustomerGeneralInfoId] [uniqueidentifier] NOT NULL,
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerLastName] [varchar](50) NULL,
	[CustomerType] [int] NULL,
	[PrefTimeOfDay] [int] NULL,
	[StrataPlan] [nvarchar](100) NULL,
	[Frequency] [int] NOT NULL,
	[NextContactDate] [datetime] NULL,
	[TradingName] [nvarchar](50) NULL,
	[LeadType] [int] NULL,
	[PYV] [nvarchar](100) NULL,
	[Explaination] [nvarchar](500) NULL,
	[UNCON] [nvarchar](50) NULL,
	[CON] [nvarchar](50) NULL,
	[Customer] [nvarchar](max) NULL,
	[Terms] [int] NULL,
	[IsActive] [bit] NULL,
	[EmailNotification] [bit] NULL,
	[Photos] [bit] NULL,
	[Contracted] [bit] NULL,
	[External] [bit] NULL,
	[Solicited] [bit] NULL,
	[BlackListed] [bit] NULL,
	[BlackListReason] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CustomerGeneralInfo] PRIMARY KEY CLUSTERED 
(
	[CustomerGeneralInfoId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerGeneralInfo] ON
INSERT [dbo].[CustomerGeneralInfo] ([CustomerGeneralInfoId], [CID], [CustomerLastName], [CustomerType], [PrefTimeOfDay], [StrataPlan], [Frequency], [NextContactDate], [TradingName], [LeadType], [PYV], [Explaination], [UNCON], [CON], [Customer], [Terms], [IsActive], [EmailNotification], [Photos], [Contracted], [External], [Solicited], [BlackListed], [BlackListReason], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (N'da240525-0c62-4892-a7aa-03dc7532efa4', 2, NULL, 1, 0, NULL, 1, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 0, 0, NULL, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[CustomerGeneralInfo] OFF
/****** Object:  Table [dbo].[Jobs]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerGeneralInfoId] [uniqueidentifier] NULL,
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[SiteId] [uniqueidentifier] NULL,
	[JobType] [int] NULL,
	[Status] [int] NULL,
	[DateBooked] [datetime] NULL,
	[PreferTime] [int] NULL,
	[EstimatedHours] [int] NULL,
	[JobNotes] [nvarchar](max) NULL,
	[OTRWjobNotes] [nvarchar](max) NULL,
	[OperationNotes] [nvarchar](max) NULL,
	[EstimatedTime] [float] NULL,
	[StockRequired] [varchar](max) NULL,
	[TotalCost] [float] NULL,
	[AssignTo] [uniqueidentifier] NULL,
	[BookedBy] [uniqueidentifier] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[TimeSpent] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON
SET IDENTITY_INSERT [dbo].[Jobs] OFF
/****** Object:  Table [dbo].[TempMigrationHistory]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TempMigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stock](
	[ID] [uniqueidentifier] NOT NULL,
	[Label] [varchar](50) NULL,
	[Material] [nvarchar](250) NULL,
	[Price] [decimal](18, 2) NULL,
	[Description] [varchar](max) NULL,
	[Date] [datetime] NULL,
	[UnitMeasure] [varchar](15) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Cost] [decimal](18, 2) NULL,
	[EmpId] [uniqueidentifier] NULL,
	[Available] [int] NULL,
	[OTRW] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Stock] ([ID], [Label], [Material], [Price], [Description], [Date], [UnitMeasure], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate], [Cost], [EmpId], [Available], [OTRW], [Quantity]) VALUES (N'68e9fbbd-6912-48d4-a0c7-22002d9bf087', N'sdfsd', N'dsf', CAST(23.90 AS Decimal(18, 2)), N'd', CAST(0x0000A6C700000000 AS DateTime), N'sdds', N'ab23b553-a7f1-4008-a0e1-b4d677826f8a', NULL, CAST(0x0000A6C500D22A0D AS DateTime), NULL, NULL, NULL, -14, 0, 3)
INSERT [dbo].[Stock] ([ID], [Label], [Material], [Price], [Description], [Date], [UnitMeasure], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate], [Cost], [EmpId], [Available], [OTRW], [Quantity]) VALUES (N'0bb825c7-a717-421c-936c-2c4b38f8653f', N'New Stock Testing ', N'Material Testing ', CAST(123.90 AS Decimal(18, 2)), N'Description ', CAST(0x0000A6C500000000 AS DateTime), N'Kgs', N'ab23b553-a7f1-4008-a0e1-b4d677826f8a', N'c0b202a9-29ee-4c09-b6d3-bad0cc7cf3ae', CAST(0x0000A6C501277B5C AS DateTime), CAST(0x0000A6C601414EF2 AS DateTime), NULL, NULL, -2, 0, 70)
INSERT [dbo].[Stock] ([ID], [Label], [Material], [Price], [Description], [Date], [UnitMeasure], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate], [Cost], [EmpId], [Available], [OTRW], [Quantity]) VALUES (N'88e9cf38-8c4c-4491-866e-3445b7284759', N'dfds', N'sd', CAST(45.00 AS Decimal(18, 2)), N'Description', CAST(0x0000A6BF00000000 AS DateTime), N'we', N'ab23b553-a7f1-4008-a0e1-b4d677826f8a', NULL, CAST(0x0000A6C500D200B0 AS DateTime), NULL, NULL, NULL, NULL, 0, NULL)
/****** Object:  Table [dbo].[OTRWStock]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OTRWStock](
	[ID] [uniqueidentifier] NOT NULL,
	[StockID] [uniqueidentifier] NULL,
	[UnitMeasure] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[OTRWID] [uniqueidentifier] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_OTRWStock] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[OTRWStock] ([ID], [StockID], [UnitMeasure], [Quantity], [OTRWID], [CreatedBy], [ModifiedBy], [CreateDate], [ModifiedDate]) VALUES (N'2f1d15a3-2a7e-47f8-9f36-012c10863fb0', N'78f88904-c722-4919-b43a-db6ed4da29e7', N'sdf', 12, N'70d2d386-595b-4844-871f-72d47cc654e2', NULL, NULL, NULL, NULL)
INSERT [dbo].[OTRWStock] ([ID], [StockID], [UnitMeasure], [Quantity], [OTRWID], [CreatedBy], [ModifiedBy], [CreateDate], [ModifiedDate]) VALUES (N'9a37bfa8-8588-46d1-8dd8-1d5f0f9e50ef', N'0286c45e-a376-496d-8a68-68edf981e3dd', N'sdds', 1, N'70d2d386-595b-4844-871f-72d47cc654e2', NULL, NULL, NULL, NULL)
INSERT [dbo].[OTRWStock] ([ID], [StockID], [UnitMeasure], [Quantity], [OTRWID], [CreatedBy], [ModifiedBy], [CreateDate], [ModifiedDate]) VALUES (N'42a365d5-7d32-4812-ba07-2015d6277807', N'0bb825c7-a717-421c-936c-2c4b38f8653f', N'Kgs', 1, N'913344a2-b053-415b-aa60-4c2649ddb098', NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[JobStock]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobStock](
	[ID] [uniqueidentifier] NOT NULL,
	[StockID] [uniqueidentifier] NULL,
	[UnitMeasure] [varchar](50) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[JobId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_JobStock] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[JobStock] ([ID], [StockID], [UnitMeasure], [Price], [Quantity], [JobId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'd65e6dff-9ccc-482d-8939-a394f20bc1b9', N'0bb825c7-a717-421c-936c-2c4b38f8653f', N'Kgs', CAST(123.90 AS Decimal(18, 2)), 18, N'acd04e88-94e3-47e9-b072-93bb479c3b76', NULL, NULL, NULL, NULL)
INSERT [dbo].[JobStock] ([ID], [StockID], [UnitMeasure], [Price], [Quantity], [JobId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'e8ebdffa-e199-4e8f-ba98-b8888f448956', N'0bb825c7-a717-421c-936c-2c4b38f8653f', N'Kgs', CAST(123.90 AS Decimal(18, 2)), 7, N'9ac22515-c4d8-49d8-9596-1871b3d0f65c', NULL, NULL, NULL, NULL)
INSERT [dbo].[JobStock] ([ID], [StockID], [UnitMeasure], [Price], [Quantity], [JobId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'11c24223-acfa-40c1-be01-c666f4467937', N'78f88904-c722-4919-b43a-db6ed4da29e7', N'sdf', CAST(234.00 AS Decimal(18, 2)), 10, N'9ac22515-c4d8-49d8-9596-1871b3d0f65c', NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[JobDocuments]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobDocuments](
	[Id] [uniqueidentifier] NOT NULL,
	[JobId] [uniqueidentifier] NULL,
	[DocName] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_JobDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerContacts]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerContacts](
	[ContactId] [uniqueidentifier] NOT NULL,
	[CustomerGeneralInfoId] [uniqueidentifier] NULL,
	[Title] [int] NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[PhoneNo1] [nvarchar](50) NULL,
	[PhoneNo2] [nvarchar](50) NULL,
	[PhoneNo3] [nvarchar](50) NULL,
	[Spare1] [nvarchar](50) NULL,
	[Spare2] [nvarchar](50) NULL,
	[Spare3] [nvarchar](50) NULL,
	[EmailId] [nvarchar](50) NULL,
	[IsBillingContact] [bit] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_CustomerContacts] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CustomerContacts] ([ContactId], [CustomerGeneralInfoId], [Title], [FirstName], [LastName], [PhoneNo1], [PhoneNo2], [PhoneNo3], [Spare1], [Spare2], [Spare3], [EmailId], [IsBillingContact], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'f925eda6-af1f-4eed-a7d9-01c8de3a3ac7', N'7f617784-8c85-4a91-b2ad-0492f199e819', NULL, N'ee', N'ee', N'44', NULL, NULL, NULL, NULL, NULL, N'dd@gma.com', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerContacts] ([ContactId], [CustomerGeneralInfoId], [Title], [FirstName], [LastName], [PhoneNo1], [PhoneNo2], [PhoneNo3], [Spare1], [Spare2], [Spare3], [EmailId], [IsBillingContact], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'b2a5d9b9-5ac5-4d2d-a6b9-0b894cfa1fb6', N'f5a62d2e-16ea-4e94-a999-f8022a471327', NULL, N'ww', N'ww', N'1234567899', NULL, NULL, NULL, NULL, NULL, N'eee@gmail.com', 0, N'00000000-0000-0000-0000-000000000000', NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[CustomerContacts] ([ContactId], [CustomerGeneralInfoId], [Title], [FirstName], [LastName], [PhoneNo1], [PhoneNo2], [PhoneNo3], [Spare1], [Spare2], [Spare3], [EmailId], [IsBillingContact], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'01bca36c-e482-494b-9530-19eb53fbd7e8', N'da240525-0c62-4892-a7aa-03dc7532efa4', 1, N'changedfield', N'gfgdf', N'545', N'5345435', N'45435', N'jhj', N'fdf', N'gfgf', N'fsfs@gmail.com', 0, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[CustomerSitesDocuments]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerSitesDocuments](
	[DocumentId] [uniqueidentifier] NOT NULL,
	[CustomerGeneralInfoId] [uniqueidentifier] NULL,
	[SiteId] [uniqueidentifier] NULL,
	[DocumentName] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CustomerSitesDocuments] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CustomerSitesDocuments] ([DocumentId], [CustomerGeneralInfoId], [SiteId], [DocumentName], [CreatedDate], [CreatedBy], [ModifiedDate], [Modifiedby]) VALUES (N'339256fa-d1fb-4c03-9cfb-1ac23a148865', N'7f617784-8c85-4a91-b2ad-0492f199e819', N'8b831458-8d63-491a-97d9-6b035f1a4bb6', N'Jellyfish.jpg', NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerSitesDocuments] ([DocumentId], [CustomerGeneralInfoId], [SiteId], [DocumentName], [CreatedDate], [CreatedBy], [ModifiedDate], [Modifiedby]) VALUES (N'0c912394-a9ff-40e7-899e-c84a4792714b', N'7f617784-8c85-4a91-b2ad-0492f199e819', N'8b831458-8d63-491a-97d9-6b035f1a4bb6', N'Chrysanthemum.jpg', NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[CustomerResidenceDetail]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerResidenceDetail](
	[ResidenceDetailId] [uniqueidentifier] NOT NULL,
	[SiteDetailId] [uniqueidentifier] NULL,
	[TypeOfResidence] [int] NULL,
	[Unit] [nvarchar](20) NULL,
	[NoBldgs] [nvarchar](20) NULL,
	[Height] [int] NULL,
	[Pitch] [int] NULL,
	[RoofType] [int] NULL,
	[NotWet] [bit] NULL,
	[NeedTwoPPL] [bit] NULL,
	[SRASinstalled] [bit] NULL,
	[GutterGaurd] [int] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_CustomerResidenceDetail] PRIMARY KEY CLUSTERED 
(
	[ResidenceDetailId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CustomerResidenceDetail] ([ResidenceDetailId], [SiteDetailId], [TypeOfResidence], [Unit], [NoBldgs], [Height], [Pitch], [RoofType], [NotWet], [NeedTwoPPL], [SRASinstalled], [GutterGaurd], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'f400f8a9-e2ed-4c6a-9317-0461c231a639', NULL, 2, N'344we', N'4334wdewd', 5, 2, 2, NULL, NULL, NULL, 4, NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerResidenceDetail] ([ResidenceDetailId], [SiteDetailId], [TypeOfResidence], [Unit], [NoBldgs], [Height], [Pitch], [RoofType], [NotWet], [NeedTwoPPL], [SRASinstalled], [GutterGaurd], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'1fce6f7a-1ef9-4a86-b7b8-0a96437f492a', N'c6493885-c05a-4dfa-acd1-df6ca3121e48', 0, NULL, NULL, 0, 0, 0, 0, 0, 0, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerResidenceDetail] ([ResidenceDetailId], [SiteDetailId], [TypeOfResidence], [Unit], [NoBldgs], [Height], [Pitch], [RoofType], [NotWet], [NeedTwoPPL], [SRASinstalled], [GutterGaurd], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'6f4ce396-9827-4af3-9145-3f96bbcc4744', N'84bf77d1-5168-40a8-a020-88a9a4b10637', 0, NULL, NULL, 0, 0, 0, 0, 0, 0, 0, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[CustomerConditionReport]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerConditionReport](
	[ConditionReportId] [uniqueidentifier] NOT NULL,
	[SiteDetailId] [uniqueidentifier] NULL,
	[RoofTilesSheets] [int] NULL,
	[BargeCappings] [nvarchar](50) NULL,
	[RidgeCappings] [nvarchar](50) NULL,
	[Valleys] [int] NULL,
	[Flashings] [int] NULL,
	[Gutters] [int] NULL,
	[DownPipes] [int] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_CustomerConditionReport] PRIMARY KEY CLUSTERED 
(
	[ConditionReportId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CustomerConditionReport] ([ConditionReportId], [SiteDetailId], [RoofTilesSheets], [BargeCappings], [RidgeCappings], [Valleys], [Flashings], [Gutters], [DownPipes], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'9652810d-cb7a-400c-a252-1be58bac897e', N'84bf77d1-5168-40a8-a020-88a9a4b10637', 0, NULL, NULL, 0, 0, 0, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerConditionReport] ([ConditionReportId], [SiteDetailId], [RoofTilesSheets], [BargeCappings], [RidgeCappings], [Valleys], [Flashings], [Gutters], [DownPipes], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'c5d62dbb-3821-4a1c-b512-399a305d7028', NULL, 0, NULL, NULL, 0, 0, 0, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[CustomerConditionReport] ([ConditionReportId], [SiteDetailId], [RoofTilesSheets], [BargeCappings], [RidgeCappings], [Valleys], [Flashings], [Gutters], [DownPipes], [CreatedBy], [ModifiedBy], [CreatedDate], [ModifiedDate]) VALUES (N'7cefad33-e9d5-42af-9fe7-418b8e87da59', N'da0272b7-b2c5-493d-b52b-4c2a2ab2e1f0', 0, NULL, NULL, 0, 0, 0, 0, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'32faeee7-25a9-4732-ba36-7b09a79aa387', N'31cf918d-b8fe-4490-b2d7-27324bfe89b4')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3757ac9a-f56e-48f9-91bd-da364b07c6c5', N'31cf918d-b8fe-4490-b2d7-27324bfe89b4')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'40dfdea8-6fca-4823-a98b-9373c76ff4ef', N'31cf918d-b8fe-4490-b2d7-27324bfe89b4')
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/28/2016 17:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_CustomerConditionReport_CustomerSiteDetail]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[CustomerConditionReport]  WITH CHECK ADD  CONSTRAINT [FK_CustomerConditionReport_CustomerSiteDetail] FOREIGN KEY([SiteDetailId])
REFERENCES [dbo].[CustomerSiteDetail] ([SiteDetailId])
GO
ALTER TABLE [dbo].[CustomerConditionReport] CHECK CONSTRAINT [FK_CustomerConditionReport_CustomerSiteDetail]
GO
/****** Object:  ForeignKey [FK_CustomerContacts_CustomerContacts]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[CustomerContacts]  WITH CHECK ADD  CONSTRAINT [FK_CustomerContacts_CustomerContacts] FOREIGN KEY([ContactId])
REFERENCES [dbo].[CustomerContacts] ([ContactId])
GO
ALTER TABLE [dbo].[CustomerContacts] CHECK CONSTRAINT [FK_CustomerContacts_CustomerContacts]
GO
/****** Object:  ForeignKey [FK_CustomerContacts_CustomerGeneralInfo]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[CustomerContacts]  WITH CHECK ADD  CONSTRAINT [FK_CustomerContacts_CustomerGeneralInfo] FOREIGN KEY([CustomerGeneralInfoId])
REFERENCES [dbo].[CustomerGeneralInfo] ([CustomerGeneralInfoId])
GO
ALTER TABLE [dbo].[CustomerContacts] CHECK CONSTRAINT [FK_CustomerContacts_CustomerGeneralInfo]
GO
/****** Object:  ForeignKey [FK_CustomerResidenceDetail_CustomerSiteDetail]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[CustomerResidenceDetail]  WITH CHECK ADD  CONSTRAINT [FK_CustomerResidenceDetail_CustomerSiteDetail] FOREIGN KEY([SiteDetailId])
REFERENCES [dbo].[CustomerSiteDetail] ([SiteDetailId])
GO
ALTER TABLE [dbo].[CustomerResidenceDetail] CHECK CONSTRAINT [FK_CustomerResidenceDetail_CustomerSiteDetail]
GO
/****** Object:  ForeignKey [FK_CustomerSitesDocuments_CustomerSiteDetail]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[CustomerSitesDocuments]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSitesDocuments_CustomerSiteDetail] FOREIGN KEY([SiteId])
REFERENCES [dbo].[CustomerSiteDetail] ([SiteDetailId])
GO
ALTER TABLE [dbo].[CustomerSitesDocuments] CHECK CONSTRAINT [FK_CustomerSitesDocuments_CustomerSiteDetail]
GO
/****** Object:  ForeignKey [FK_JobDocuments_Jobs]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[JobDocuments]  WITH CHECK ADD  CONSTRAINT [FK_JobDocuments_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([Id])
GO
ALTER TABLE [dbo].[JobDocuments] CHECK CONSTRAINT [FK_JobDocuments_Jobs]
GO
/****** Object:  ForeignKey [FK_JobStock_Stock]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[JobStock]  WITH CHECK ADD  CONSTRAINT [FK_JobStock_Stock] FOREIGN KEY([StockID])
REFERENCES [dbo].[Stock] ([ID])
GO
ALTER TABLE [dbo].[JobStock] CHECK CONSTRAINT [FK_JobStock_Stock]
GO
/****** Object:  ForeignKey [FK_OTRWStock_Stock]    Script Date: 11/28/2016 17:01:07 ******/
ALTER TABLE [dbo].[OTRWStock]  WITH CHECK ADD  CONSTRAINT [FK_OTRWStock_Stock] FOREIGN KEY([StockID])
REFERENCES [dbo].[Stock] ([ID])
GO
ALTER TABLE [dbo].[OTRWStock] CHECK CONSTRAINT [FK_OTRWStock_Stock]
GO
